## .NET
bin/
obj/
*.user
.vs/

## Visual Studio
*.suo
*.userosscache
*.sln.docstates
# Generated Android release APK
mobile/ParaVolley-Mpumalanga.apk

# User uploaded files created while the application is running
wwwroot/uploads/
